// Global styles
@import "../fonts/josefinsans.css";

::selection {
	background-color: #fff;
	color: #4e3be7;
}

* {
	font-family: "josefin_sans";
	color: #fefaff;
	box-sizing: border-box;
}

.logo {
	font-weight: 400;
	font-size: 40px;
	width: 20%;
}

header {
	padding: 25px;
	height: 90px;
	& > * {
		display: inline-block;
	}
	@include clearfix;
}

input[type="text"] {
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	padding: 10px;
	border-bottom: 1px solid #fff;
}

body {
	@include background-image(linear-gradient(to top right, #2099ff, #4e3be7));
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	&:active, &:link, &:hover, &:visited {
		color: #fff;
	}
}

ul > li {
	list-style-type: none;
	display: inline-block;
}

nav {
	float: right;
}

nav > ul > li {
	font-size: 18px;
	margin: 0 20px;
}

section.timer {
	width: 500px;
	height: 500px;
	@include border-radius(50%);
	background: rgba(0,0,0,.3);
	position: absolute;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	.setters{
		@include flexbox((
			display: flex,
			flex-direction: row,
			justify-content: center
		));
		margin-top: 70px;

		.time-setter {
			text-align: center;
			width: 22%;
			span {
				font-size: 14px;
				display: block;
			}
			input {
			    width: 45px;
			    padding: 10px 0;
			    text-align: center;
			    font-size: 16px;
			}
		}
	}
	.task-name {
		width: 65%;
		text-align: center;
		font-size: 30px;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
}